@page "/Projects"
@inject NavigationManager NavigationManager
<style>
		:root {
				--primary-color: #1957a6;
				--primary-dark: #174c91;
				--secondary-color: #d3612f;
				--secondary-light: #b55227;
				--danger-color: #d84040;
				--danger-dark: #c53030;
				--light-bg: #F5F5F5;
				--text-dark: #2c3e50;
				--border-radius: 6px;
				--transition: all 0.3s ease;
				--Montsera: "Montserrat", sans-serif;

	}

		* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				font-family: var(--Montsera);
				font-size: 0.99em;
				transition: var(--transition);

	}

		body {
				background-color: var(--light-bg);
				min-height: 100vh;
				overflow-x: hidden;
				color: var(--text-dark);

	}

		button {
				font-size: 0.95rem;
				font-weight: 500;
				padding: 0.5rem 1.8rem;
				border-radius: var(--border-radius);
				border: 1px solid transparent;
				cursor: pointer;
				transition: var(--transition);
				letter-spacing: 0.5px;

	}

		.BtnPrimary {
				background-color: var(--primary-color);
				color: white;
				border: 1px solid var(--primary-color);

	}

			.BtnPrimary:hover {
					background-color: var(--primary-dark);
					transform: translateY(-2px);
					box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

	}

		.BtnSuc {
				background-color: var(--secondary-color);
				color: white;
				border: 1px solid var(--secondary-color);

	}

			.BtnSuc:hover {
					background-color: var(--secondary-light);
					transform: translateY(-2px);
					box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

	}

		.BtnDanger {
				background-color: var(--danger-color);
				color: white;
				border: 1px solid var(--danger-color);

	}

			.BtnDanger:hover {
					background-color: var(--danger-dark);
					transform: translateY(-2px);
					box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

	}

		.MainCont {
				display: flex;
				flex-direction: column;
				gap: 2em;
				padding: 2em;
				justify-content:center;
				align-items:center;

	}

		h2::after {
				content: "";
				display: block;
				width: 2em;
				height: 3px;
				background-color: var(--secondary-color);
				margin: 5px auto 0;

	}

		.Sec {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 2em;
				gap: 1.5em;
				width: 90%;

	}

		.LatestProjects {
				padding: 1em;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				gap: 1em    
	}

		.project {
				position: relative;
				overflow: hidden;
				width: 25em;
				height: 22em;

	}

			.project img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: transform 0.3s ease-in-out;

	}

			.project:hover img {
					transform: scale(1.1);

	}

		.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.3);
				backdrop-filter: blur(5px);
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;

	}

			.overlay p {
					color: #fff;
					font-size: 16px;
					font-weight: bold;
					text-align: center;

	}

		.project:hover .overlay {
				opacity: 1;

	}
</style>

<Navigation />
<div class="MainCont">
	<div class="Sec">
		<h2>Nos Derniers Projets</h2>
		<p>Découvrez nos initiatives les plus récentes dédiées à la défense des droits humains et à la promotion de la justice. Des campagnes de plaidoyer aux programmes communautaires, nos projets visent à créer un impact durable, à autonomiser les individus et à générer un changement significatif. Restez informé et rejoignez-nous pour construire un monde plus juste et équitable.</p>
		<div class="LatestProjects">
			<button @onclick="navigateToHCR" class="project">
				<img src="/Images/unhcrr.png" alt="Image du Projet">
				<div class="overlay">
					<p>Le projet UNHCR, mené par l'OMDH avec le HCR, vise à promouvoir la responsabilisation, l’approche AGD et la participation communautaire. Il assure protection, soutien juridique et administratif, plaidoyer et écoute active à travers groupes de discussion et réunions. Des mécanismes de plainte renforcent la transparence.</p>
				</div>
			</button>
			<button class="project">
				<img src="/Images/ECPM.jpg" alt="Image du Projet">
				<div class="overlay">
					<p>
						ECPM et l'OMDH mènent un projet de 36 mois pour promouvoir l'abolition de la peine de mort au Maroc et au Maghreb.
						Soutenu par l'AFD et la Délégation de l'UE au Maroc, il est mis en œuvre avec le CNDH.
						L'accord définit la coordination entre ECPM et l'OMDH pour les actions au Maroc en faveur des droits humains et du plaidoyer abolitionniste.
					</p>

				</div>
			</button>
			<button class="project">
				<img src="/Images/Cideal.jpg" alt="Image du Projet">
				<div class="overlay">
					<p>Le document « Jeunesse Tolérante » met en lumière l’engagement historique du Maroc pour la diversité et la coexistence pacifique. Il explore l’impact des médias et des mutations sociales sur la jeunesse, en pointant les risques de marginalisation et d’exposition aux idéologies extrémistes faute d’inclusion sociale et culturelle.</p>
				</div>
			</button>
			<button class="project">
				<img src="/Images/Warakati.jpg" alt="Image du Projet">
				<div class="overlay">
					<p>Dans le cadre de son renforcement institutionnel, l'OMDH met en œuvre le projet « Promotion des droits des femmes et des enfants par l'accès à l'information et aux TIC », en partenariat avec l'Agence de Développement Social. Financé dans le cadre du projet Warakati, il est soutenu par le programme Iktidar du PNUD.</p>
				</div>
			</button>
			
		</div>
	</div>
</div>
<Footer />

@code {
	void navigateToHCR()
	{
		NavigationManager.NavigateTo("/ProjectHCR");
	}
}